@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* color variables
 */
html {
   scroll-behavior: smooth;
   }
:root {
  --white: #ffffff;
  --voilet: #7b08ff;
  --black: #000000;
  --red: #ff1302;
  --orange:rgb(238, 0, 0);
  --menu-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
* {
  margin: 0;
  padding: 0;
  font-family: roboto,"Poppins", sans-serif;
   box-sizing: border-box; /* recommended for better layouts */
}
html, body {
  overflow-x: hidden;  /* prevents horizontal scroll */
}

/* .container ensures the navbar takes up the full width. */
/* .holder ensures your navbar content (logo + links) stays centered and doesn’t exceed 1200px width. */
.container {
    width: 100%;
}
.holder {
  max-width: 1400px;
  width: 100%;     /* ensures it shrinks with screen size */
  margin: 0 auto;  /* centers horizontally */
  padding: 0 16px; /* breathing room on left/right */
}
